* {
  box-sizing: border-box;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  width: 100% !important;
  height: auto !important;
}

.video-container {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
